<% form_tag('auth', {:class=>"form-signin"}) do %>
  <h2 class="form-signin-heading">Login</h2>
 	<%= text_field_tag :name, params[:name], {:placeholder =>"Username", :class => "form-control"} %>
	<%= password_field_tag :password, params[:password], {:placeholder => "Password", :class => "form-control"} %>
	<%= submit_tag "login", {:class => "btn btn-primary btn-block"} %>
<% end %>
	