<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CDC ERP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/land.css" rel="stylesheet">
  </head>
  <body>
  	<div class="well">
  		<%= yield %>
  	</div>
		<div class="footer">
			<%= image_tag('logo.png', :alt => 'CDC Logo') %>
		</div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
